/* 
    Document   : slideshow
    Created on : Sep 5, 2013, 1:30:33 AM
    Author     : LEE
    Description:
        Purpose of the stylesheet follows.
*/
#bg-slideshow{
    background: #f6f6f6;
    max-width: 100%;
    background-size:100%;
    position: relative;
    box-shadow: inset 0px 1px 0px #f2f2f2;
    padding-bottom: 20px;
}
#bg-slideshow:before {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 7px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#e2e2e2));
    background: -webkit-linear-gradient(top, #f5f5f5, #e2e2e2);
    background: -moz-linear-gradient(top, #f5f5f5, #e2e2e2);
    background: -ms-linear-gradient(top, #f5f5f5, #e2e2e2);
    background: -o-linear-gradient(top, #f5f5f5, #e2e2e2);
}
.swiper-container {
    padding:30px 0;
    width: 90%;
}
.swiper-slide {
    width:auto;
    height:180px;	
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:5px;
    border-bottom:1px solid #e3e3e3;
    -webkit-box-reflect: below 1px -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0px, rgba(0,0,0,0) 20px);

}
.swiper-slide a {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1
}