/* 
    Document   : user
    Created on : Nov 14, 2013, 4:43:08 PM
    Author     : CPN
    Description:
        Purpose of the stylesheet follows.
*/
.logo_formSearch {
    height: 100px;
    box-shadow: inset 0px -1px 0px #dddada;
    overflow: hidden;
    border: 0 none;
}
.user li a, .top_Nav a {
    display: block;
    padding: 0px 12px;
    line-height: 40px;
    height: 40px;
}
.detail-login{
    z-index: 9999;
}
.logo_formSearch {
    width: 100%;
}
.headerTinymanPhoto img{
    -webkit-border-radius: 2px;
    height: 30px;
    margin: 5px 5px 3px 3px;
    width: 30px;
}
.headerTinymanName{
    display: inline-block;
    max-width: 175px;
    overflow: hidden;
    padding-right: 8px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}
.user .price_user:hover{
    background: none;
}
.detail_user ul{
    background: #fff;
    box-shadow: 0px 0px 5px #cfcfcf;
    text-transform: none;
    text-align: center;
    color: #367397;
    position: absolute;
    width: 248px;
    z-index: 9999;
    display: none;
}
.detail_user ul:before{
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top:-10px; left: 47%;
}
.detail_user a{
    color: #367397;
    text-shadow:1px 0px 0px #367397;
}
.detail_user ul li{
    float: none;
    border-top: 1px solid #ebebeb;
    padding-left: 16px;
    padding-right: 16px;
}
.user .detail_user ul li:first-child {
    background: none;
    box-shadow: inset 0px 0px 0px #2980b9;
    font-family: 'OpenSans-Bold';
}
.detail_user ul li h6{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #272727;
}
.detail_user ul li:hover, .detail_user ul li a:hover{
    background: #f5f5f5;
}
#logout{
    background: none;
    border: 0 none;
    cursor: pointer;
    color: #367397;
    width: 100%;
}
.user li:hover .detail_user ul{
    display: block;
    -webkit-animation-duration:0.4s;
    -webkit-animation-delay:0.2s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-fill-mode:both;
    -webkit-animation-name:hover-y;
    -moz-animation-duration:0.4s;
    -moz-animation-delay:0.2s;
    -moz-animation-timing-function:ease;
    -moz-animation-fill-mode:both;
    -moz-animation-name:hover-y;
    animation-duration:0.4s;
    animation-delay:0.2s;
    animation-timing-function:ease;
    animation-fill-mode:both;
    animation-name:hover-y;
    height: auto;
}