/* 
    Document   : antimetion
    Created on : Sep 4, 2013, 9:03:47 AM
    Author     : LEE
    Description:
        Purpose of the stylesheet follows.
*/
/**************** hover Y *********/

@-webkit-keyframes hover-y {
    0%{
    opacity: 0;
    -webkit-transform: translateY(-50px);
}

60%{
    opacity: 1;
    -webkit-transform: translateY(0px);
}

80% {
    -webkit-transform: translateY(0px);
}

100% {
    -webkit-transform: translateY(0);
}
}

@-moz-keyframes hover-y {
    0% {
    opacity: 0;
    -moz-transform: translateY(-50px);
}

60% {
    opacity: 1;
    -moz-transform: translateY(0px);
}

80% {
    -moz-transform: translateY(0px);
}

100% {
    -moz-transform: translateY(0);
}
}

@-o-keyframes hover-y {
    0% {
    opacity: 0;
    -o-transform: translateY(-50px);
}

60% {
    opacity: 1;
    -o-transform: translateY(0px);
}

80% {
    -o-transform: translateY(0px);
}

100% {
    -o-transform: translateY(0);
}
}

@keyframes hover-y {
    0% {
    opacity: 0;
    transform: translateY(-50px);
}

60% {
    opacity: 1;
    transform: translateY(0px);
}

80% {
    transform: translateY(0px);
}

100% {
    transform: translateY(0);
}
}
.hover-y {
    -webkit-animation-name: hover-y;
    -moz-animation-name: hover-y;
    -o-animation-name: hover-y;
    animation-name: hover-y;
}
/*********** LAMP MENU **********/

@-webkit-keyframes lampmenu {
    0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
}

60% {
    opacity: 1;
    -webkit-transform: translateX(0px);
}

80% {
    -webkit-transform: translateX(0px);
}

100% {
    -webkit-transform: translateX(0);
}
}

@-moz-keyframes lampmenu {
    0% {
    opacity: 0;
    -moz-transform: translateX(-50px);
}

60% {
    opacity: 1;
    -moz-transform: translateX(0px);
}

80% {
    -moz-transform: translateX(0px);
}

100% {
    -moz-transform: translateX(0);
}
}

@-o-keyframes hover-y {
    0% {
    opacity: 0;
    -o-transform: translateX(-50px);
}

60% {
    opacity: 1;
    -o-transform: translateX(0px);
}

80% {
    -o-transform: translateX(0px);
}

100% {
    -o-transform: translateX(0);
}
}

@keyframes lampmenu {
    0% {
    opacity: 0;
    transform: translateX(-50px);
}

60% {
    opacity: 1;
    transform: translateX(0px);
}

80% {
    transform: translateX(0px);
}

100% {
    transform: translateX(0);
}
}
.lampmenu {
    -webkit-animation-name: translateX;
    -moz-animation-name: translateX;
    -o-animation-name: translateX;
    animation-name: translateX;
}


/***************Menu ChuyỂn động *************/