/* 
    Document   : contact
    Created on : Oct 31, 2013, 8:07:01 PM
    Author     : LEENGUYEN
    Description:
        Purpose of the stylesheet follows.
*/
.img_maps{
    position: relative;
    box-shadow: 0px 0px 4px #b2b2b2;
    padding: 5px;
    background: #fff;
    text-align: center;
}
.img_maps img{
    max-width: 100%;
}
.img_maps:before{
    content: "";
    position: absolute;
    background: url(../images/box_show_maps.png) no-repeat;
    width: 655px; height: 40px;
    bottom: -41px; left: 6px;
}
.form_contact{
    width: 387px;
}
.form_contact label{
    width: 85px;
    margin-bottom: 25px;
}
.Content_contact li:first-child{
    text-transform: uppercase;
    color: #3498db;
}
.Content_contact li{
    margin-bottom: 10px;
    list-style: none;
    padding: 3px 0px;
    font-size: 12px;
}
.Contact-us textarea{
    border: 0 none;
    background: #e5e6e6;
    box-shadow: inset 2px 2px 1px #d9dada;
    width: 290px;
    padding: 10px 8px;
    height: 150px;
    border-radius: 3px;
}