/* 
    Document   : tabs
    Created on : Oct 31, 2013, 5:18:31 PM
    Author     : LEENGUYEN
    Description:
        Purpose of the stylesheet follows.
*/
.tabs{
    font-size: 12px;
    font-family: 'OpenSans-Regular';
}
.menu_tabs{
    border-bottom: 2px solid #1abc9c;
    margin-bottom: 30px;
    color: #fff;
    padding-bottom: 11px;
    padding-left: 5px;
    margin-top: 40px;
}
.menu_tabs li{list-style: none; display: inline-block;}
.menu_tabs li a{
    background: #dbdbdb;
    border-radius: 3px 3px 0px 0px;
    box-shadow: inset 0px 2px 0px #ababab;
    padding: 11px;
    font-size: 12px;
    font-family: 'OpenSans-Bold';
    color: #272727;
}
.menu_tabs li a:hover , .menu_tabs li a.active{
    background: #1abc9c;
    box-shadow: inset 0px 2px 0px #16a085;
    color: #ffffff;
}
.cus_form label{
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    color: #272727;
}
label span ,.color_red{
    color: #e6456d;
}
.width_200{
    width: 200px;
}
#tabs-1 .select{
    margin-right: 8px;
    margin-bottom: 20px;
}
.width_200 select{
    min-width: 220px;
}
.marginRight_50{
    margin-right: 50px;
}
#tabs-1 input[type=text],#tabs-1 input[type=email],#tabs-1  textarea{
    width: 98%;
    padding: 10px 8px;
    font-family: 'OpenSans-Regular';
    font-size: 12px;
}
.cus_form textarea{
    border:0px none;
    background: #e5e6e6;
    box-shadow: inset 2px 2px 1px #d9dada;
    border-radius: 3px;
    text-align: left;
    min-height: 150px;
    font-family: 'OpenSans-Regular';
}
.photo_uploads ,.detail_photo_uploads{
    margin-top: 20px;
}
.bg-file span{
    color: #1abc9c;
}
.detail_photo_uploads li{
    display: inline-block;
    width: 90px; padding: 7px; height: 120px;
    overflow: hidden;
    background: #e5e6e6;
    border-radius: 3px;
    margin-right: 6px;
    text-align: center;
}
.detail_photo_uploads li:last-child{
    margin-right: 0px;
}
.detail_photo_uploads li img{
    max-width: 100%;
}
input[type=radio] {
    visibility: hidden;
}
.select_radio{
    margin-top: 20px;
}
.select_radio h6{
    margin-bottom: 20px;
}
.radio{
    position: relative;
    margin-bottom: 10px;
}
.radio:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #93c7e9;
    background: transparent;
    border-radius: 50%;
    top: 2px;
    cursor: pointer;
}
#tabs-1 .radio label{
    width: 100%;
    display: initial;
    margin-left: 10px;
    margin-top: 0px;
    float: none;
}
.radio label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: transparent;
    top: 5px;
    left: 3px;
    border-radius: 50%;
    background:#3598db;
    box-shadow: 0px 0px 1px #1168a3;

}

.radio label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.radio input[type=radio]:checked + label:after{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.save{
    position: absolute;
    top: -33px; right: 0px;
    border: 0 none;
    background: url(../images/button.png) no-repeat;
    width: 118px; height:  119px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'OpenSans-Regular';
    cursor: pointer;
        -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.save:hover{
    -webkit-transform: rotate(360deg) scale(1.1);
    -moz-transform: rotate(360deg) scale(1.1);
    -o-transform: otate(360deg) scale(1.1);
    -ms-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
}
/**********/
.quantyti{
    position: relative;
}
.txt_quantyti{
    width: 20px !important;
}
.arrow_next, .arrow_prev{
    display: block;
    width: 33px; height: 19px;
    background: #1abc9c;
    position: absolute;
    text-indent: -99999px;
    right: -12px;
    cursor: pointer;
}
.arrow_next{
    top:0px;
    border-radius: 0px 3px 0px 0px;
}
.arrow_prev{
    bottom: 15px;
    border-radius: 0px 0px 3px 0px;
}
.arrow_prev:before{
    content: "";
    position: absolute;
    bottom: 5px; left: 14px;
    width: 7px; height: 5px;
    background: transparent url(../images/arrow_next.png)no-repeat;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: otate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.arrow_next:before{
    content: "";
    position: absolute;
    bottom: 5px; left: 14px;
    width: 7px; height: 5px;
    background: transparent url(../images/arrow_next.png)no-repeat;
}
/****** Tabs 2 ******/

.add_product label{
    margin-bottom: 20px;
    display: block;
}
.content_add{
    background: #e5e6e6;
    box-shadow: inset 2px 2px 1px #d9dada;
    width: 98%;
    padding: 10px 8px;
    margin-bottom: 15px;
    color: #272727;
    border: 0 none;
    border-radius: 3px;
    height: 200px;
}
.txttext{
    width: 98% !important;
    padding: 13px 8px !important;
    margin-top: -10px;
    margin-right: 1px;
}
.delete_1{
    background:transparent url(../images/btn-del.png) no-repeat;
    border: 0 none;
    padding: 13px 22px 13px 22px;
    text-indent: -99999px;
    cursor: pointer;
}
.add_1{
    background:transparent url(../images/btn-add.png) no-repeat;
    border: 0 none;
    padding: 13px 22px 13px 22px;
    text-indent: -99999px;
    cursor: pointer;
}
