/* 
    Document   : widthdrawal
    Created on : Nov 17, 2013, 10:27:43 PM
    Author     : LEENGUYEN
    Description:
        Purpose of the stylesheet follows.
*/
.drawal {
    margin-top: 15px;
}
.account{
    width: 70%;
    float: left;
}
.account .select{
    margin-right: 10px;
}
.drawal label{
    display: block;
    width: 100%;
    color: #3498db;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.input-prepend {
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: top;
}
.input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 24px;
    min-width: 20px;
    padding: 6px 5px;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background: #e5e6e6;
    box-shadow: inset 2px 2px 1px #d9dada;
    vertical-align: top;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.prependedInput{
    border-radius: 0px 3px 3px 0px !important; 
    width: 76% !important;
    margin-bottom: 0px !important;
}
.totals{
    width: 28%;
    float: right;
    margin-top: 30px;
    color: #272727;
    font-size: 16px;
}
.totals.totals span{
    display: block;
    width: 100%;
}
.Price_full{
    color: #f8154c;
    font-size: 22px;
    margin: 10px 0px;
}
.table_2 {
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    font-family: 'OpenSans-Regular';
    background: #f3f3f3;
}
.table_2 tr{
     font-family: 'OpenSans-Regular';
     font-size: 14px;
     
}
.table_2 tr:first-child{
    border-bottom: 1px solid #e4e4e4;
}
.table_2 tr th{
    padding: 10px 10px;
    text-align: left;
}
.table_2 tr td {
    height: 10px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    color: #616161;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}