/* 
    Document   : reset
    Created on : Sep 3, 2013, 10:53:37 PM
    Author     : LEENGUYEN
    Description:
        Purpose of the stylesheet follows.
*/
*{margin: 0;padding: 0;}
body{
    line-height: 20px;
    color: #787878;
    font: 62.5%  arial, sans-serif;
    background: #f9f9f9;
}
h1, h2, h3, h4, h5, h6{
    font-size: 100%;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #787878;
}
img{
    border: 0;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.clear{clear:both;}
.clearfix:after  {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
} 
.relative{
    position: relative;
}
.no-padding{
    padding: 0px;
}
table{
    border-collapse: collapse;
}
#header li,#footer li{
    list-style: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea{
    outline: none;
}


